@import url('universals/info.css');

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: aliceblue;
}
form.supervisor-form {
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 360px;
    align-items: center;
    background: linear-gradient(176deg, rgb(18, 196, 196), #00d0ff);
}
#supervisor-form-header{
    text-align: center;
}
h4{
    font-style: italic;
    font-weight: normal;
}
#button-submit:hover{
    background: rgb(110, 106, 106);
    color: white;

}