th,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    background: linear-gradient(120deg,white,);

}
body{
    display:flex;
    flex-direction: column;
    background: linear-gradient(120deg,rgb(122,22,11),white);
}
button{
    display:flex;
    flex-direction:row;
    justify-content: center;
    color:blue;
    
   

}
button.update{
    width:15%;
    align-self: center;
    top:50%;
}
button:hover{
    color:red;
}