nav > ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
   
}
nav >ul > *{
    padding: 5px;
    list-style-type: none;
}

    

a{
    border:1px solid black;
    white-space: 3px;
    
    color:black;
    border-collapse: collapse;
    border-radius: 3px;
    justify-content: center;
   
}
div.detail{
    display:flex;
    flex-direction:column;
    justify-self: center;
    justify-content: center;
    width:30%;
    height:40%;
    box-sizing: content-box;
    border:1px solid black;
    border-collapse:  collapse;
}