body {
    font-family: Arial, sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
}
p, li {
    color: #333;
    font-size: 1.2em;
    line-height: 1.5;
}