body{
    background: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    background: white;
    margin: 0% auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 70%;
    height: 600px;
}
.form-header {
    margin: 0%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content {
    height: inherit;
    background: linear-gradient(120deg, cyan, rgb(82, 82, 227));
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0% auto;
    justify-content: center;
}

.form-buttons {
    display: flex;
    flex-direction: row;
}
a{
    color: rgb(101, 5, 127);
}
a:hover{
    color: rgb(168, 6, 212);
}
@media (max-width:750px){
    form{
        display: flex;
        flex-direction: column;
    }
    .form-content{
        width: 100%;
    }
    .form-header{
        width: 100%;
    }
}