body{
    text-align: center;
    background:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-header{
    display: flex;
    flex-direction: column;
}
#welcome-username{
    margin: 0% 0% 0% 50%;
    text-align: right;
}
a{
    padding:14px;
    width:10%;
    background-color: black;
    color:white;
    text-decoration: none;
}
a:hover{
    background: rgb(69, 69, 69);
}